# Processing Data Using the for Statement

## Creating a basic for loop

In [1]:
LetterNum = 1
for Letter in "Howdy!":
   print("Letter ", LetterNum, " is ", Letter)
   #LetterNum+=1

Letter  1  is  H
Letter  1  is  o
Letter  1  is  w
Letter  1  is  d
Letter  1  is  y
Letter  1  is  !

## Controlling execution with the break statement

In [ ]:
Value = input("Type less than 6 characters: ")
LetterNum = 1
for Letter in Value:
   print("Letter ", LetterNum, " is ", Letter)
   LetterNum+=1
   if LetterNum > 6:
      print("The string is too long!")
      break

Type less than 6 characters: I am too long.
Letter  1  is  I
Letter  2  is
Letter  3  is  a
Letter  4  is  m
Letter  5  is
Letter  6  is  t
The string is too long!

## Controlling execution with the continue statement

In [ ]:
LetterNum = 1
for Letter in "Howdy!":
   if Letter == "w":
      continue
      print("Encountered w, not processed.")
   print("Letter ", LetterNum, " is ", Letter)
   LetterNum+=1

Letter  1  is  H
Letter  2  is  o
Letter  3  is  d
Letter  4  is  y
Letter  5  is  !

## Doing nothing with the pass statement

In [ ]:
LetterNum = 1
for Letter in "Howdy!":
   if Letter == "w":
      pass #Add some code here later to process w
   print("Letter ", LetterNum, " is ", Letter)
   LetterNum+=1

Letter  1  is  H
Letter  2  is  o
Letter  3  is  w
Letter  4  is  d
Letter  5  is  y
Letter  6  is  !

## Validating input with the else statement

In [3]:
Value = input("Type less than 6 characters: ")
LetterNum = 1
for Letter in Value:
  print("Letter ", LetterNum, " is ", Letter)
  LetterNum+=1
  if (Letter == "" or Letter == Value[-1]):
    break
else:
  print("The string is blank.")

Type less than 6 characters:
The string is blank.

# Processing Data Using the while Statement

## Using the while statement in an application

In [ ]:
Sum = 0
while Sum < 5:
   print(Sum)
   Sum+=1

0
1
2
3
4

## Nesting Loop Statements

In [18]:
X = 1
Y = 1
print ('{:>4}'.format('*'), end=' ')# you have to use the end to make print() as a column
for X in range(1, 11):
   print('{:>4}'.format(X), end='-') #{:>4} create a column with 4 char space, and adds the format( what ever will go to that column) and will be the last character in the column
print() # creates anew line
for X in range(1,11):
   print('{:>4}'.format(X), end=' ')
   while Y <= 10:
      print('{:>4}'.format(X * Y), end=' ')
      Y+=1
   print()
   Y=1

   *    1-   2-   3-   4-   5-   6-   7-   8-   9-  10-
   1    1    2    3    4    5    6    7    8    9   10
   2    2    4    6    8   10   12   14   16   18   20
   3    3    6    9   12   15   18   21   24   27   30
   4    4    8   12   16   20   24   28   32   36   40
   5    5   10   15   20   25   30   35   40   45   50
   6    6   12   18   24   30   36   42   48   54   60
   7    7   14   21   28   35   42   49   56   63   70
   8    8   16   24   32   40   48   56   64   72   80
   9    9   18   27   36   45   54   63   72   81   90
  10   10   20   30   40   50   60   70   80   90  100