# Defining the Essential Python Data Types

## Putting information into variables

In [ ]:
myVar = 5
print(myVar)

5

## Understanding the numeric types
### Integers

In [1]:
Test = 0b100
print("100 Binary: ", Test)

Test = 0o100
print("100 Octal: ", Test)

Test = 100
print ("100 Decimal: ", Test)

Test = 0x100
print("100 Hexadecimal:", Test)

print(bin(Test))
print(oct(Test))
print(hex(Test))

100 Binary:  4
100 Octal:  64
100 Decimal:  100
100 Hexadecimal: 256
0b100000000
0o400
0x100

### Floating-point values

In [ ]:
Test = 255.0
print("Direct Assignment: ", Test)

Test = 2.55e2
print("Scientific Notation: ", Test)

Test = 2.55e-2
print("Negative Exponent: ", Test)

Direct Assignment:  255.0
Scientific Notation:  255.0
Negative Exponent:  0.0255

### Complex numbers

In [ ]:
myComplex = 3 + 4j
print("Real Part: ", myComplex.real)
print("Imaginary Part: ", myComplex.imag)

Real Part:  3.0
Imaginary Part:  4.0

### Understanding Boolean values

In [ ]:
myBool = 1 > 2
print("Is 1 > 2? ", myBool)

Is 1 > 2?  False

# *DETERMINING A VARIABLEâ€™S TYPE*

In [ ]:
myInt = 5
print(type(myInt))

<class 'int'>

### Understanding strings

In [ ]:
print(ord("A"))

myInt = int("123")
print(myInt)

print(type(myInt))

65
123
<class 'int'>

In [ ]:
myStr = str(1234.56)
print(myStr)
print(type(myStr))

1234.56
<class 'str'>

# Working with Dates and Times

In [5]:
import datetime
print(datetime.datetime.now())

2024-01-11 21:02:15.300124

In [16]:
print(str(datetime.datetime.now().date()))
print(str(datetime.datetime.now().time()))

2024-01-11
21:06:49.334098